.header-cate h4{
    font-size: 36px;
    font-weight: var(--font-weight-bold);
    color: var(--color-dark);
    text-align: right;    
}
@media screen and (max-width: 768px) {
   .header-cate h4{
    font-size: 28px;
     }}