.mb-7{
    margin-bottom: 16px;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
    background-color: green;
  }
.custom-switch .custom-control-label {
    font-size: 20px; /* تكبير حجم النص في التسمية */
  }